# Created by https://www.toptal.com/developers/gitignore/api/linux
# Edit at https://www.toptal.com/developers/gitignore?templates=linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.toptal.com/developers/gitignore/api/linux

# Разрешаем файлы README и docker-compose
!README.md
!docker-compose.yaml

# Разрешаем только файл citibike_data_etl.py в папке dags
!dags/citibike_data_etl.py

# Разрешаем папку pic и её содержимое
!pic/

# Игнорируем временные файлы и папки, которые не нужны
dags/__pycache__/
dags/data/
logs/
.env